<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="C:\NLogDir\NLog.log"
      throwExceptions="true">

  <variable name="appName" value="NLOGFIle" />

  <!-- per https://github.com/NLog/NLog/issues/2036, NLog can have two targets-group. Console will be sync, file and eventlog will be async-->
  <targets>
    <default-wrapper xsi:type="AsyncWrapper" overflowAction="Block" timeToSleepBetweenBatches="0" />
    <target xsi:type="File"
            name="archivefile"
            layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
            fileName="C:\NLogDir\Debug.log"
            keepFileOpen="false"
            archiveFileName="C:\NLogDir\.{##}.log"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="30"
            />
    <target name="xunitLogFile" xsi:type="File" fileName="C:\NLogDir\xunittest.log"/>
  </targets>
  <targets>
    <target name="console" xsi:type="Console"/>
    <target name="viewer" xsi:type="NLogViewer"  address="udp://127.0.0.1:9999"/>
    <target name="xunitLogOutputHelper" xsi:type="Console"/>
  </targets>
  <rules>
    <logger name="ATAP.*" writeTo="viewer" minlevel="Trace" />
  </rules>
</nlog>